run="npm run dev"
entrypoint="src/App.tsx"

hidden = ["package-lock.json", "postcss.config.js", "vite.config.ts"]

[packager]
language = "nodejs-yarn"

  [packager.features]
  # Disable package guessing, since using relative imports
  guessImports = false